{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">How I made this</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog was made with the full stack Framework 'Django', follow up with this tutorial to learn how I made it!</p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Django Blog Tutorial!</a>
    </div>
</div>
</div>

{% endblock sidebar %}